@charset "UTF-8";

@font-face {
    font-family: "Idroid";
    src: url(fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tangerine:wght@400;700&display=swap');

*{
    font-family: "Bebas Neue", "Times", sans-serif;
}

header{
    background-image: linear-gradient(to bottom, #00d800, #003500);
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -35px;
    margin-bottom: -20px;
    color: white;
}

nav > div{
    display: inline-block;
    padding: 8px;
}

nav > div:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.397);
}

body{
    background-color: #c5ebd6;
}

main{
    background-color: white;
    margin: auto;
    width: 80%;
}

p{
    text-align: justify;
    margin: 15px;
    text-indent: 20px;
}

header > h1{
    text-align: center;
    margin-top: 35px;
}

header > p{
    text-align: center;
}

.titulos{
    font-family: "Idroid", "Times New Roman", sans-serif;
    background-image: linear-gradient(to right,rgb(173, 204, 173), rgba(211, 248, 211, 0.452), white);
    margin: 15px;
}

#titulo-prin{
    font-family: "Idroid", "Times New Roman", sans-serif;
    margin-left: 15px;
}

footer{
    background-color: rgb(0, 61, 0);
    text-align: center;
    color: white;
    font-weight: lighter;
}

a{
    text-decoration: none;
}